.phone-container {
    min-height: 25em;
    position: relative;
}

.status-msg {
    position: absolute;
    font-style: italic;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.9);
    color: #333;
    border-radius: 0 0.25em 0.25em 0;
    padding: 0.5em;
    z-index: 9999;
}

.status-msg.text-danger {
    color: #a94442 !important;
}
.call-control {
    cursor: pointer;
}

.caller-info .accept-call-btn {
    color: #008d4c;
}
